<?xml version="1.0" encoding="utf-8"?>
<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find itu_odv_description)/urdf/itu_odv_sim_description.urdf" />
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
    
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find itu_odv_visualization)/rviz/sim.rviz" />
     
<!-- laserscan_multi_merger from ira_laser_tools package -->
  <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
    <param name="destination_frame" value="/base_link"/>
    <param name="angle_min" value="-3.14159"/>
    <param name="angle_max" value="3.14159"/>
    <param name="cloud_destination_topic" value="/merged_cloud"/>
    <param name="scan_destination_topic" value="/scan_multi"/>
    <param name="laserscan_topics" value ="/scan_front /scan_rear" />
  </node>

</launch>
